@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

#section1 svg {
    fill: #1ef9b0;
    width: 20%;
    margin-bottom: 30px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 84px;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky #header1 {
    height: 24px;
}

.sticky #header1 svg{
    margin-top: 4.3px;
    width: 14px;
}

.sticky #header1 p {
    padding-top: 3.7px;
}

.sticky #header2 {
    height: 60px; 
}

.sticky #header2 nav {
    padding-top: 22px;
}

.sticky #header2 button {
    padding: 8px 15px;
    margin-top: 11px;
    margin-left: 100px;
}

.sticky #header2 #logo {
    width: 130px;
    margin-top: 13.1px;
}

#header1 {
    background-color: #1C3F75;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 36px;
    font-size: 11px;
    padding-left: 5px;
    transition: all 500ms;
    color: white;
}

#header1 svg {
    fill: white;
    height: 16px;
    width: auto;
    margin-left: 20px;
    margin-top: 9px;
    transition: all 500ms;
}

#header1 a {
    text-decoration: none;
    color: white;
}

#header1 p {
    padding-top: 9px;
    transition: all 500ms;
}

#header2 {
    background-color: white;
    height: 90px;
    font-size: 12px; 
    transition: all 700ms;
    border-bottom: 1px solid #C7C8C9;
    padding-left: 5px;
}

#header2 #logo {
    width: 200px;
    height: auto;
    margin-top: 19.1px;
    transition: all 700ms;
}

#header2 nav {
    padding-top: 38px;
    transition: all 700ms;
}

#header2 a {
    color: #1D1C22;
}

#header2 button {
    border: none;
    padding: 15px;
    margin-top: 19px;
    margin-left: 100px;
    transition: all 700ms;
    background-color: #1ef9b0;
}

#header2 svg {
    width: 22px;
    height: auto;
    fill: #1D1C22;
}

#menu {
    padding: 20px 0;
}

#menu li {
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
}

#menu ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

#header2 li {
    display: inline-block;
    padding: 0 13px;
    margin: 0;
}

ul a {
    text-decoration: none;
}

.container {
    max-width: 1090px;
}

#headline {
    padding: 182px 5px 140px 5px;
    min-height: 694px;
    margin-top: 84px;
    background: url(../images/1.webp) #1D1C22;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

#headline form {
    background-color: #1C3F75;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 20px 30px;
}

#headline form h6 {
    color: white;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
} 

#headline form .inp {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
} 

#headline .message {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    resize: none;
    padding: 10px 0 0 20px;
}

#headline h2 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

#headline h3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1ef9b0;
}

#headline p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#headline button {
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #40dfaa;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

#headline button:hover {
    background-color: #3dc195;
}

#headline .num {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 1px solid #1ef9b0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    color: #1ef9b0;
}

main {
    background-color: white;
}

main #section1 {
    padding: 100px 5px 70px 5px;
}

main #section1 h3{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

main #section1 p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

main #section2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

main #section2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

main #section2 {
    padding: 100px 5px 60px 5px;
}

.front {
    background-color: #1C3F75;
    padding: 45px 10px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white
}

.front .tag {
    background-color: white;
    font-size: 11px;
    padding: 10px;
    border-radius: 5px;
    color: #1D1C22;
}

.front a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.front a:hover {
    color: #1ef9b0;
}

.front .location {
    font-size: 12px;
    color: #C7C8C9;
}

#section3 {
    padding: 0 5px 60px 5px;
}

#section4 a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 30px;
    font-size: 12px;
}

#section4 button {
    border: none;
    border-radius: 60px;
    padding: 10px 30px;
    background-color: #40dfaa;
    color: white;
}

#section4 button:hover {
    background-color: #3dc195;
}

#section4 {
    padding-bottom: 100px;
}

.active {
    border-bottom: 2px solid #1ef9b0;
    padding: 10px 0;
}

#section5 {
    padding: 80px 5px;
    background-color: #1C3F75;
    color: white;
}

#section5 button {
    padding: 15px 60px;
    border-radius: 60px;
    background-color: transparent;
    border: 2px solid #1ef9b0;
    color: #1ef9b0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#section5 button:hover {
    color: #3dc195;
    border: 2px solid #3dc195;
    fill: #3dc195;
}

#section5 svg {
    fill: #1ef9b0;
    width: 24px;
    padding-bottom: 2px;
}

.prop h3 {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #212529;
}

.prop small {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.prop p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.prop a {
    text-decoration: none;
}

.prop button {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 60px;
    background-color: #40dfaa;
    color: white;
}

.prop button:hover {
    background-color: #3dc195;
}

#section6 {
    padding: 120px 5px 60px;
}

#section7 {
    padding: 60px 5px 120px;
}

#section8 {
    font-family: 'Open Sans', sans-serif;
    background-color: #1C3F75;
    color: white;
}

#section8 p {
    font-size: 14px;
    color: #C7C8C9;
}

#section8 h2 {
    font-size: 45px;
}

#section8 h3 {
    font-size: 28px;
    color: #1ef9b0;
}

#section8 h4 {
    font-size: 20px;
}

main #section9 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

main #section9 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

main #section9 {
    padding: 120px 5px 60px 5px;
}

#section10 .front h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#section10 .front p {
    font-size: 14px;
    color: white;
}

#section10 .front small {
    color: whitesmoke;
}

#section10 .front {
    padding: 45px 30px;
}

#section10 .front button {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 5px auto;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #40dfaa;
    color: white;
}

#section10 .front button:hover {
    background-color: #3dc195;
}

#section10 {
    padding-bottom: 120px;
    padding-left: 5px;
    padding-right: 5px;
}

main #section11 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

main #section11 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

main #section11 {
    padding: 120px 5px 60px 5px;
}

.front-tab {
    background-color: #1C3F75;
    padding: 45px 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: white;
}

.front-tab button {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: white;
    color: #1D1C22;
}

.front-tab h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.front-tab p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #C7C8C9;
}

.front-tab small {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: whitesmoke;
}

#section12 {
    padding: 0 5px 120px;
}

#section12 a {
    text-decoration: none;
    color: white;
}

#section13 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

#section13 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#section13 {
    padding: 120px 5px 60px 5px;
}

#section14 {
    padding-bottom: 120px;
}

#section14 img {
    width: 100%;
    height: auto;
}

#section14 .part {
    border: 1px solid #F0F0F0;
    background-color: #FEFEFE;
}

#section15 {
    padding: 80px 5px;
    background-color: #1C3F75;
    color: white;
}

#section15 svg {
    fill: #1ef9b0;
    width: 20%;
}

#section16 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 60px;
}

#section16 {
    padding: 120px 5px 120px 5px;
}

#section16 svg {
    fill: #1ef9b0;
    width: 40px;
}

.inp-end {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #C7C8C9;
}

.message-end {
    width: 100%;
    height: 93px;
    border-radius: 5px;
    margin-bottom: 15px;
    resize: none;
    padding: 10px 0 0 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #C7C8C9;
}

#section16 button {
    padding: 9px;
    width: 40%;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #40dfaa;
    color: white;
}

#section16 button:hover {
    background-color: #3dc195;
}

#section16 b {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#section16 small {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#section16 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #212529;
}

footer {
    padding: 80px 5px 60px 5px;   
    background-color: #1C3F75;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

footer p {
    font-size: 14px;
}

footer small {
    font-size: 10px;
}

footer img {
    width: 150px;
    height: auto;
}

footer svg {
    height: 20px;
    width: auto;
    margin-left: 20px;
}

footer a {
    text-decoration: none;
    fill: white;
}